h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
h3 {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 2rem;
  margin: 2rem 0;
  border-bottom: 1px solid #007bff;
  color: #007bff;
}
h3.pageTitle{
  color:#fff;
  margin:0;
  padding:0 0 0 2rem;
}
img {
  max-width: 100%;
}
.pageLoader{
  position:absolute;
  top:50%;
  left:50%;
  z-index:1000;
}
.overlay-form > div {
  display: flex;
  flex-wrap: wrap;
}
.overlay-form__input--top {
  flex-basis: 46%;
  margin: 2% !important;
}
.overlay-form__input {
  flex-basis: 28%;
  margin: 2% !important;
}
.MuiTableCell-root {
  padding: 0 !important;
}
.MuiTableRow-root:nth-child(odd) {
  background-color: #ebebeb;
}
.table-link,
a, a:not([href]){
  color: #007bff;
  transition: all 0.2s;
  cursor: pointer;
}
.table-link:hover,
a:hover {
  color: #007bff88;
}
.MuiAutocomplete-root {
  width: 50%;
}

.MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
  padding: 5px !important;
  border: 0 !important;
  overflow: hidden;
  background: none;
}
.datatables-noprint {
  padding: 2rem 0;
}
.d-flex {
  display: flex;
  align-items: center;
}
.infoTabContainer img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}
.btnIcon {
  cursor: pointer;
  width: 30px;
  fill: #fff;
}
a{color:#007bff}
.download-template-link{font-size:.8rem; font-weight:500}
.MuiContainer-root{
  padding-top:1rem;
}
.avatarCont{
  display:flex;
  align-items:center;
  margin-left: auto;
}
.avatarRounded{
  width: 50px;
  border-radius: 50px;
}
.avatar_circle {
  background: #007bff;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 0.5rem;
  flex:0 0 35px;
  line-height:35px;
  font-weight: bold;
  text-transform: uppercase;
}
.table-length-cont {
  background: #fff9;
  color: #007bff;
  border-radius: 25px;
  padding:0 15px
}
.tabs-text-color {
  color: #fff9!important;
}
.Mui-selected .table-length-cont {
  background: #fff;
}
.Mui-selected.tabs-text-color {
  color: #fff !important;
}
.tabs-container {
  background: #007bff;
}
.entryEditHeader {
  padding: 1rem 0 0 0 !important;
  min-height: 125px;
  position: relative;
}
.entryEditHeader__tabsCont {
  background-color: #007bff66;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.MuiButton-text.ceeh__tabsCont--btn {
  color: #fff !important;
  padding: 0.5rem 1rem;
}
.MuiButton-text.ceeh__tabsCont--btn:hover,
.MuiButton-text.ceeh__tabsCont--btn.selected {
  color: #007bff !important;
  background-color: rgba(0, 0, 0, 0.04);
}
#CompanyInput-label{
  color:#f00 !important;
}
.signin-container{
  width:600px;
  background:#fff;
  border-radius:10px;
  padding:50px;
  box-shadow: 3px 3px 10px #ddd;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.signin-logo{
  display:block;
  width:150px;
  margin:0 auto;
}