.TabsOnTopFromStatus {
  background: #007bff;
  position:fixed;
  width:100%;
}
.MuiTab-textColorPrimary.TabsOnTopFromStatus__tab,.MuiTab-textColorPrimary.MuiTab-root {
  color: #fff;
  font-size:.7rem !important
}

.MuiTab-textColorPrimary.TabsOnTopFromStatus__tab.Mui-selected {
  color: #fff;
  background-color: #fff3;
}

.TabsOnTopFromStatus__tab--number {
  background: #fff;
  color: #007bff;
  border-radius: 2.5rem;
  min-width: 1.5rem;
  padding: 0 4px;
  line-height: 1.5rem;
}
.BillContainer{
  background-color:#ccc;
  margin-bottom:.5rem !important;
}
.MuiAppBar-colorPrimary {
  background-color: #007bff !important;
}
.MuiTab-root {
  min-width: 100px !important;
}